<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlitzLogReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BlitzLogReader.Properties.Settings>
            <setting name="COLOR_SCHEME" serializeAs="String">
                <value>STANDARD</value>
            </setting>
            <setting name="COLOR_THEME" serializeAs="String">
                <value>DARK</value>
            </setting>
            <setting name="PrimaryTextColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="PrimaryBackgroundColor" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>BlitzReader</value>
            </setting>
        </BlitzLogReader.Properties.Settings>
    </userSettings>
</configuration>